build_script.py
debug_rest_fail.png
UmaAutoTrain_Package.rar
Uma_Musume_Auto_Train_Distribution.rar
simple_uma.spec
uma_auto.spec
pass_link.txt

# Ignore specific folders
venv/
__pycache__/
**/__pycache__/
.idea/
UmaAutoTrain_Package/
Uma_Musume_Auto_Train_Distribution/
dist/
build/